.venv/
__pycache__/
*.pyc
.env
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/trained/*
!models/trained/.gitkeep
models/scalers/*
!models/scalers/.gitkeep
models/metadata/*
!models/metadata/.gitkeep
.ipynb_checkpoints/
.pytest_cache/
.vscode/
*.log
